* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: 0; /* 여백 제거 */
  padding: 0; /* 패딩 제거 */
}

body {
  background-color: black;
  color: white;
  font-family: helvetica;
  margin: 0; /* 여백 제거 */
  padding: 0; /* 패딩 제거 */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* 페이지 전체 높이 채우기 */
}

main {
  flex: 1;
  width: 100%;
}

header {
  width: 100%;
  height: 0px; /* 헤더 높이를 조정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
  position: static; /* 고정 위치로 설정 */
  bottom: 0; /* 페이지 하단에 고정 */
  z-index: 2; /* 위로 배치 */
  background-color: rgba(0, 0, 0, 0.7);
}

header h2 {
  color: rgb(140, 140, 140);
}

header h2 a {
  color: rgb(140, 140, 140);
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
}

header nav a {
  margin-left: 20px;
  color: rgb(140, 140, 140);
  text-decoration: none;
  padding: 5px 0;
  transition: color 0.3s;
}

header nav a:hover {
  color: #cccccc; /* hover 시 색상 변경 */
}

.toc {
  position: fixed;
  top: 200px;
  left: 20px;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.toc ul {
  list-style-type: none;
  padding: 0;
}

.toc ul li {
  margin: 50px 0;
}

.toc ul li a {
  text-decoration: none;
  color: #ffffff;
}

.content {
  width: 100%;
  margin-bottom: 20px; /* 지도와 나머지 컨텐츠 간의 간격 */
  padding-top: 50px; /* 헤더 높이를 고려한 패딩 추가 */
  padding-left: 240px;
}

section {
  margin-bottom: 100px;
}

h3 {
  margin: 0;
  font-size: 24px;
}

h4 {
  margin: 0;
  font-size: 18px;
  white-space: pre-line;
  overflow-y: auto;
}

.image-container1 {
  display: flex;
  justify-content: space-between; /* 이미지를 서로 균등하게 띄워 놓음 */
}

.image-container1 img {
  max-width: 20%; /* 원하는 이미지 크기를 설정 */
  height: auto; /* 원본 비율 유지 */
}

.image-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-container2 img {
  max-width: 33%;
  height: auto;
}

.image-container3 img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
  width: 100%;
  margin-top: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.image-container {
  flex: 1;
  text-align: center;
}

.image-container img {
  width: 100%;
  max-width: 600px;
}

.menu-container {
  flex: 1;
  max-width: 300px;
  margin-left: 20px;
  margin-top: 300px;
}

h5 {
  margin-bottom: 20px;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-item span {
  display: inline-block;
  width: calc(100% - 30px);
}

.menu-item button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.description {
  display: none;
  margin-top: 5px;
  font-size: 14px;
}

#map-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#overlay-text {
  position: absolute;
  top: 30%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4em;
  z-index: 2;
  font-family: Georgia;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 45%;
  white-space: pre-line;
}

#overlay-text-line {
  position: absolute;
  top: 55%;
  left: 76%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  z-index: 2;
  font-family: Georgia;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 45%;
  white-space: pre-line;
}

#overlay-index {
  position: absolute;
  top: 93%;
  left: 76%;
  transform: translate(-50%, -50%);
  color: rgb(205, 205, 205);
  font-size: 1em;
  z-index: 2;
  font-family: Georgia;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 45%;
  white-space: pre-line;
}

#Owned-box, #Rented-box {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 4;
  border-radius: 3px;
  opacity: 60%;
}

#Owned-box {
  background-color: #00FF67;
  top: 77.5%;
  left: 54%;
  transform: translate(-50%, -50%);
}

#Rented-box {
  background-color: #F800FF;
  top: 83.5%;
  left: 54%;
  transform: translate(-50%, -50%);
}

#box-index {
  position: absolute;
  top: 79%;
  left: 78%;
  transform: translate(-50%, -50%);
  color: rgb(205, 205, 205);
  font-size: 1em;
  z-index: 2;
  font-family: Georgia;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 45%;
  white-space: pre-line;
}

#menu {
  position: absolute;
  bottom: 10px;
  width: 20%;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

#menu button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

#menu button:hover {
  background-color: rgba(232, 232, 232, 0.8);
}

.container_chart {
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

.image-container_chart {
  display: flex;
  flex-direction: row;
  width: 100%;
  transition: all 0.5s ease;
}

.image-container_chart.vertical {
  flex-direction: column;
  width: 20%;
  height: 100%;
  flex-grow: 1; /* 이미지 박스가 차트와 동일한 높이를 가지도록 추가 */
}

.chart-thumbnail {
  width: calc(100% / 5);
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.image-container_chart.vertical .chart-thumbnail {
  width: 100%;
  height: auto;
  flex: 1; /* 각 이미지가 동일한 비율로 높이를 가지도록 추가 */
  object-fit: cover;
}

.chart-thumbnail:active {
  transform: scale(1.1);
}

.chart-container {
  display: none;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  padding: 20px; /* 차트와 pic 사이의 공간을 추가 */
  height: 50vh; /* 초기 높이를 설정 */
}

.image-container_chart {
  margin-right: 20px; /* pic과 차트 사이에 공간을 추가 */
}

.chart-container.show {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100%;
  height: 100%;
}